<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.blogsite.youngsoft.piggybank">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:sharedUserId="android.uid.system"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Splash activity -->
        <activity
            android:name=".activity.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SnsLoginActivity"
            android:label="@string/activity_title_snslogin"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name=".activity.MainActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>



        <activity
            android:name=".activity.CardDetailActivity"
            android:label="@string/activity_title_carddetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DonationActivity"
            android:label="@string/apply_donation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.auth.SettingsActivity"
            android:label="@string/activity_title_settings"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.DonationInfoListActivity"
            android:label="@string/nav_donation_info"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.LicenseActivity"
            android:label="@string/activity_title_license"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PrivacyPolicyActivity"
            android:label="@string/activity_title_privacy_policy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SmsListActivity"
            android:label="@string/activity_title_smslist"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DonationDetailActivity"
            android:label="@string/activity_title_donationdetail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.auth.DonationList_Activity"
            android:label="@string/title_activity_donation_select"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.HistoryViewActivity"
            android:label="@string/title_activity_donation_history"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <receiver
            android:name=".receiver.SmsReceiver"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.CategoryService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>